mark {
	display: inline-block;
	line-height: var(--line-height-md);
	background: linear-gradient(
			100deg,
			oklch(from var(--primary) l c h / 0%) 1%,
			oklch(from var(--primary) var(--500)) 2.5%,
			oklch(from var(--primary) l c h / 50%) 5.7%,
			oklch(from var(--primary) l c h / 10%) 93%,
			oklch(from var(--primary) l c h / 70%) 95%,
			oklch(from var(--primary) l c h / 0%) 98%
		),
		linear-gradient(
			192deg,
			oklch(from var(--primary) l c h / 0%),
			oklch(from var(--primary) l c h / 30%) 8%,
			oklch(from var(--primary) l c h / 0%) 15%
		);
}

mark::before,
mark::after {
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

mark::before {
	content: " [highlight start] ";
}

mark::after {
	content: " [highlight end] ";
}
